$primaryColor: hsl(223, 87%, 63%);
$secondaryColorPaleBlue: hsl(223, 100%, 88%);
$secondaryColorLightRed: hsl(354, 100%, 66%);
$neutralGrey: hsl(0, 0%, 59%);
$neutralVeryDarkBlue: hsl(209, 33%, 12%);

.container {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        width: 80px;
        margin: 2.5rem 0 3rem 0;
    }

    h1 {
        margin: 0;
        font-size: 2.2rem;
        text-align: center;
    }

    p {
        margin: 2rem 0;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
            display: block;
            border: $secondaryColorPaleBlue 2px solid;
            outline: none;
            margin-bottom: 1rem;
            transition: all .15s ease-in-out;

            &:focus {
                border: $primaryColor 2px solid;
            }

            &::placeholder {
                font-size: 1rem;
                color: $neutralGrey;
            }
        }

        input, button {
            padding: 1rem 2rem;
            border-radius: 100px;
        }

        button {
            border: none;
            background-color: $primaryColor;
            color: #fff;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:hover {
                transform: translateY(-4px);
                box-shadow: 0px 5px 32px 1px rgba(0,0,0,0.2);
            }
        }
    }

    .dashImg {
        width: 100%;
        margin-top: 3.5rem;
    }
}

@media all and (min-width: 900px) {
    .container {
        max-width: 45%;

        h1 {
            font-size: 3rem;
        }

        form {
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            margin-top: 1rem;

            input {
                display: inline;
                margin-bottom: 0;
                width: 50%;
            }

            button {
                padding: 1rem 4rem;
                border: $primaryColor 2px solid;
            }
        }
    }
}

@media all and (min-width: 1440px) {
    .container {
        form {
            button {
                padding: 1rem 4.5rem;
            }
        }
    }
}
